#navbar {
  backdrop-filter: blur(12px) saturate(100%);
  -webkit-backdrop-filter: blur(12px) saturate(100%);
  background-color: var(--nav-bg) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-item,
.navbar-brand {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--head-font);
  font-size: large;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: x-large;
}

:root.dark .nav-item {
  filter: none;
}

.nav-item:hover,
.navbar-brand:hover {
  cursor: pointer;
  color: var(--accent);
  transition: 0.3s;
}

.nav-item:hover {
  transform: scale(1.4) rotate(-10deg);
}

.nav-item-text {
  display: none;
}

:root.dark .navbar-toggler-icon {
  filter: invert(100%);
}

.navbar-toggler {
  border: 2px solid var(--text-color);
}

.navbar-toggler:hover {
  border: 2px solid var(--accent);
}

.navbar-tooltip:nth-child(1) {
  color: var(--accent) !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
  .nav-item {
    font-size: medium;
  }
  .nav-item-text {
    display: inline;
    padding: 0;
    margin: 0 10px 0 0;
  }
  .nav-item-text:hover {
    cursor: pointer;
  }
  .nav-item:hover {
    transform: scale(1.1);
  }
  .navbar-tooltip {
    display: none;
  }
}
