#navbar {
  background-color: var(--secondary) !important;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-item,
.navbar-brand {
  color: var(--bg-color);
  text-decoration: none;
  font-family: var(--head-font);
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.nav-item:hover,
.navbar-brand:hover {
  cursor: pointer;
  color: var(--accent);
  transition: 0.2s;
}

.nav-item:hover {
  transform: scale(1.3);
}

.nav-item-text {
  display: none;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar-toggler {
  border: 2px solid var(--bg-color);
}

.navbar-toggler:hover {
  border: 2px solid var(--accent);
}

.navbar-tooltip:nth-child(1) {
  color: var(--accent) !important;
}
@media (max-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
  .nav-item-text {
    display: inline;
    padding: 0;
    margin: 0 10px 0 0;
  }
  .nav-item-text:hover {
    cursor: pointer;
  }
  .nav-item:hover {
    transform: scale(1.1);
  }
  .navbar-tooltip {
    display: none;
  }
}
