:root {
  --text-color: #130e01;
  --bg-color: #f2f7f5;
  --nav-bg: #f2f7f533;
  --primary: #00473e;
  --secondary: #475c5a;
  --accent: #faad29;
  --bg-image: url('./assets/background-light.png');
  --text-font: 'Nunito', sans-serif;
  --head-font: 'Pacifico', cursive;
}

:root.dark {
  --text-color: #fef9ec;
  --bg-color: #080d0b;
  --nav-bg: #080d0b33;
  --primary: #b8fff5;
  --secondary: #a3b8b6;
  --accent: #d68905;
  --bg-image: url('./assets/background-dark.png');
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  overflow-y: scroll;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
.h4:hover,
h5:hover,
h6:hover,
p:hover {
  cursor: default;
}

@media (max-width: 992px) {
  body {
    background-position: right;
  }

  :root.dark body {
    background-position: center;
  }
}
