.cat-card-container {
  backdrop-filter: blur(12px) saturate(100%);
  -webkit-backdrop-filter: blur(12px) saturate(100%);
  background-color: var(--nav-bg) !important;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: var(--text-color);
  font-family: var(--text-font);
  border-radius: 5px;
  text-align: start;
}

.cat-card-name {
  font-family: var(--head-font);
  text-shadow: 1px 1px 2px var(--bg-color);
  color: var(--primary);
}

.cat-card-props {
  color: var(--primary);
  font-weight: 700;
}

.cat-card-image {
  border-radius: 5px;
  border: 2px solid var(--accent);
  box-shadow: 0px 0px 10px var(--secondary);
}

.cat-card-image,
.cat-card-prop {
  max-width: 100%;
}

.cat-card-prop-name {
  color: var(--secondary);
}

.cat-card-description {
  color: var(--text-color);
  text-align: justify;
  font-weight: 600;
}

.special-trait-badge {
  background-color: var(--accent) !important;
  color: var(--text-color);
  text-transform: uppercase;
  font-style: italic;
}
